body{
    background-color: whitesmoke;
}
.container-ribbon-wrapper{
    background-color: white;
    text-align: center;
}
bold{
    color: black;
}
h2{
    color: gray;
}
.container .col{
    color: gray;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.navbar-nav{
    display: flex;
    justify-content: space-around;
}
.nav-item{
    padding-left: .5em;
    padding-right: .5em;
}
.card{
    margin: 1.5em;
    border: none;
}